{% extends "base.html" %}
{% load comments %}
{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 page-heading">{{ bug.name }}</h1>
    {% if user.is_authenticated %}
        {% if user == bug.username %}
    <a href="{% url 'edit_bug' bug.id %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i> Edit bug</a>
        {% endif %}
    {% endif %}
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card shadow container">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-4">
                        {% if bug.status == "CREATED" %}
                        <span class="badge detail-badge badge-secondary">{{ bug.status }}</span>
                        {% elif bug.status == "IN PROGRESS" %}
                        <span class="badge detail-badge badge-warning">{{ bug.status }}</span>
                        {% elif bug.status == "IN REVIEW" %}
                        <span class="badge detail-badge badge-info">{{ bug.status }}</span>
                        {% else %}
                        <span class="badge detail-badge badge-success">{{ bug.status }}</span>
                        {% endif %}
                        <div class="card-body">
                            <p>Added by: {{ bug.username }}</p>
                            <div class="small text-gray-600">
                                <p>Created on: {{ bug.date_added }} </p>
                                {% if bug.date_started %}
                                <p>Started on: {{ bug.date_started }} </p>
                                {% endif %}
                                {% if bug.date_finished %}
                                <p>Completed on: {{ bug.date_finished }} </p>
                                {% endif %}
                                <p>Upvotes: {{ bug.upvotes }}</p>
                                <p>Views: {{ bug.views }}</p>
                            </div>
                        </div>
                    </div>
                        <div class="col-md-8">
                            {% if bug.image %}
                                <img class="attachment shadow" src="/media/{{ bug.image }}">
                            {% endif %}
                        </div>

                </div>
                <div class="row no-gutters align-items-center">
                    <div class="col-md-10">
                        <div class="card-body" style="padding-bottom: 0px;">
                            <p style="margin-top: 10px">{{ bug.description }}</p>

                            {% get_comment_count for bug as comment_count %}
                            <div class="small" style="padding-bottom: 1.5rem">
                                {{ comment_count }} comment{{ comment_count|pluralize }}
                                ha{{ comment_count|pluralize:"s,ve" }} been posted.
                            </div>
                        </div>
                    </div>
                    <div id="{{ bug.id }}" class="col-md-2 text-center">
                        <span style="float: right"><a onclick="toggleUpvote('{{ bug.id }}')">
                            <p class="text-gray-400" style="display: inline-block"><b>Upvote: </b></p>
                            {% if bug in bugs_upvoted %}
                                  <i class="fas fa-arrow-alt-circle-up fa-2x text-gray-300"></i>
                            {% else %}
                                  <i class="far fa-arrow-alt-circle-up fa-2x text-gray-300"></i></a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mb-4">
        <div class="card shadow mb-4 container">
            <div class="d-sm-flex align-items-center justify-content-between mt-4 comment-padding">
                <h1 class="h5 mb-0 text-gray-600 comment-padding">Comments</h1>
            </div>
            <hr/>
            <div class="card-body comment-body">
                <div>
                    {% if comment_count %}
                    <div class="comments">
                        {% render_comment_list for bug %}
                    </div>
                    {% endif %}
                </div>
                <div class="row-flex bottom-container">
                    {% if user.is_authenticated %}
                    <div class="col-md-12">
                        <div class="card-body">
                            {% render_comment_form for bug %}
                        </div>
                    </div>
                    {% else %}
                    <p style="text-align: center;">Please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'register' %}">register</a> to post a comment
                    </p>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% csrf_token %}
{% endblock %}