{% extends 'base.html' %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 page-heading">Bugs</h1>
</div>

<div class="row">
    <div class="col-md-12 mb-4">
        <div class="card shadow mb-4">
            <div class="card-body mt-4 row">
                {% if bugs %}
                {% for bug in bugs %}
                <div class="col-md-6 col-lg-4 mb-4" style="display: inline-block">
                    <div class="card {% if bug.status == 'CREATED' %} border-left-secondary
                        {% elif bug.status == 'IN PROGRESS' %} border-left-warning
                        {% elif bug.status == 'IN REVIEW' %} border-left-info
                        {% else %} border-left-success {% endif %} shadow h-100 py-2">
                        <div class="card-body">
                            <div class="no-gutters align-items-center">
                                <div class="col-md-12 mr-2">
                                    {% if bug.status == "CREATED" %}
                                    <span class="badge status-badge badge-secondary">{{ bug.status }}</span>
                                    {% elif bug.status == "IN PROGRESS" %}
                                    <span class="badge status-badge badge-warning">{{ bug.status }}</span>
                                    {% elif bug.status == "IN REVIEW" %}
                                    <span class="badge status-badge badge-info">{{ bug.status }}</span>
                                    {% else %}
                                    <span class="badge status-badge badge-success">{{ bug.status }}</span>
                                    {% endif %}
                                    <div class="m-0 issue-name font-weight-bold text-primary"><a href="{% url 'bug_detail' bug.id %}">{{ bug.name }}</a></div>
                                    <div class="text-truncate">{{ bug.description }}</div>
                                </div>
                                <div id="{{ bug.id }}" class="card-bottom small text-gray-500">
                                    <span><a onclick="toggleUpvote('{{ bug.id }}')">
                                        {% if bug in bugs_upvoted %}
                                              <i class="fas fa-arrow-alt-circle-up fa-2x text-gray-300"></i>
                                        {% else %}
                                              <i class="far fa-arrow-alt-circle-up fa-2x text-gray-300"></i>
                                        {% endif %}
                                              Upvotes: {{ bug.upvotes }}</a>
                                    </span>
                                    <span class="view-span bugs-view">Views: {{ bug.views }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="mb-4">
                    <div class="card shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        It doesn't look like there are any bugs yet.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% csrf_token %}
{% endblock %}