{% extends 'base.html' %}

{% block content %}
<!-- Page header -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 page-heading">About us</h1>
</div>
<!-- End page header -->

<div class="row">
<!-- About us container -->
    <div class="col-md-12 mb-4">
        <div class="card shadow mb-4 container pt-4 pb-4 text-center">
            <h5>Who we are</h5>
            <p>We are a relatively new startup, focused on trying to create a better user experience for lovers of the internet</p>
            <hr>
            <h5>What we do</h5>
            <p>We fix whatever bugs you have come across that are impacting your user experience.
            We also welcome suggestions from our clients regarding new features they'd like to see implemented.
            After all, when it comes to user experience, who better than the users themselves to let us know
            how things could be improved!</p>
            <hr>
            <h5>How it works</h5>
            <p>You can use the dashboard to browse known bugs or previously suggested features.
                If you see a bug you've come across that you'd also like fixed, simply upvote by clicking the upvote
                icon: <i class="far fa-arrow-alt-circle-up text-gray-300"></i>. If you see a feature you'd also
                like to have, you can make a donation to support that feature. If you've come across a new bug, or have
                a brand new feature in mind, please feel free to add it. (Please be sure to search properly first, to
                avoid duplicate issues and so we can prioritise our efforts accordingly). Other users will be able to
                see and support your bug or feature by upvoting or donating to it. Registered users can also post
                comments on issues. Please note, that guests will only be able to browse issues and read comments. You must register to
                upvote, donate or post a comment. Bugs/ features you've added, as well as ones you've upvoted or donated
                to will be visible in your account.
            </p>
            <hr>
            <h5>Our pledge to you</h5>
            <p>Above all else, we value transparency and honesty, so we like to lay it all out for our users.</p>
                <ul>
            <li>All bugs will be fixed eventually, however we do prioritise the bugs with the most upvotes, so be sure
                to cast your vote. </li>
            <li>Features will only be developed and implemented if there is enough interest from our users. As features
                are donation-based, we promise to always spend at least 50% of our time working on the feature with the
                most donations.</li>
            <li>We will keep our users up with the status of bugs and features via our dashboard, where they can easily
                see if the issue hasn't yet been started, if it is in progress, in review, or complete.</li>
            </ul>
            <hr>
            <p>So that's it! Sparkle on, you beautiful unicorns</p>
            <span><img alt="unicorn attractor logo" src="https://img.icons8.com/plasticine/50/000000/unicorn.png"></span>
        </div>
    </div>
<!-- End about us container -->
</div>















{% endblock %}
