{% extends 'base.html' %}

{% block content %}
<!--suppress XmlDuplicatedId -->

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 page-heading">Issue Dashboard</h1>
</div>
<hr>


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h4 class="h4 sub-heading mb-0">Bugs</h4>
</div>
<!-- Bugs Section -->

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow mb-4 status-container" data-status="CREATED" ondrop="drop(event)" ondragover="allowDrop(event)">
            <!-- Card Header -->
            <div class="card-header mb-2 py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">To do</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                {% if bugs_created %}
                    {% for bug in bugs_created %}
                        {% if user.is_staff %}
                            <div class="mb-4">
                                <div class="card border-left-secondary shadow h-100 py-2" id="bug-{{ bug.id }}" draggable="true"
                                     ondragstart="drag(event)">
                                    <div class="card-body">
                                        <div class="no-gutters align-items-center">
                                            <div class="col-md-12 mr-2">
                                                <span class="badge status-badge badge-secondary">{{ bug.status }}</span>
                                                <div class="m-0 font-weight-bold text-primary"><a href="{% url 'bug_detail' bug.id %}">{{ bug.name }}</a>
                                                </div>
                                                <div class="text-truncate">{{ bug.description }}</div>
                                            </div>
                                            <div id="{{ bug.id }}" class="card-bottom small text-gray-500">
                                                <span><a onclick="toggleUpvote('{{ bug.id }}')">
                                                          {% if bug in bugs_upvoted %}
                                                              <i class="fas fa-arrow-alt-circle-up upvote text-gray-300"></i>
                                                          {% else %}
                                                              <i class="far fa-arrow-alt-circle-up upvote text-gray-300"></i>
                                                          {% endif %}
                                                          Upvotes: {{ bug.upvotes }}</a>
                                                </span>
                                                <span class="view-span">Views: {{ bug.views }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="mb-4">
                                <div class="card border-left-secondary shadow h-100 py-2" draggable="true">
                                    <div class="card-body">
                                        <div class="no-gutters align-items-center">
                                            <div class="col-md-12 mr-2">
                                                <span class="badge status-badge badge-secondary">{{ bug.status }}</span>
                                                <div class="m-0 font-weight-bold text-primary"><a href="{% url 'bug_detail' bug.id %}">{{ bug.name }}</a>
                                                </div>
                                                <div class="text-truncate">{{ bug.description }}</div>
                                            </div>
                                            <div id="{{ bug.id }}" class="card-bottom small text-gray-500">
                                                {% if user.is_authenticated %}
                                                <span><a onclick="toggleUpvote('{{ bug.id }}')">
                                                          {% if bug in bugs_upvoted %}
                                                              <i class="fas fa-arrow-alt-circle-up upvote text-gray-300"></i>
                                                          {% else %}
                                                              <i class="far fa-arrow-alt-circle-up upvote text-gray-300"></i>
                                                          {% endif %}
                                                          Upvotes: {{ bug.upvotes }}</a>
                                                </span>
                                                <span class="view-span">Views: {{ bug.views }}</span>
                                                {% else %}
                                                <span>Upvotes: {{ bug.upvotes }}</span> <span>Views: {{ bug.views }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="mb-4">
                        <div class="card shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">There are currently no new bugs to do</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow mb-4 status-container" data-status="IN PROGRESS" ondrop="drop(event)" ondragover="allowDrop(event)">
            <!-- Card Header -->
            <div class="card-header mb-2 py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">In progress</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                {% if bugs_in_progress %}
                    {% for bug in bugs_in_progress %}
                        {% if user.is_staff %}
                            <div class="mb-4">
                                <div class="card border-left-warning shadow h-100 py-2" id="bug-{{ bug.id }}" draggable="true"
                                     ondragstart="drag(event)">
                                    <div class="card-body">
                                        <div class="no-gutters align-items-center">
                                            <div class="col-md-12 mr-2">
                                                <span class="badge status-badge badge-warning">{{ bug.status }}</span>
                                                <div class="m-0 font-weight-bold text-primary"><a href="{% url 'bug_detail' bug.id %}">{{ bug.name }}</a>
                                                </div>
                                                <div class="text-truncate">{{ bug.description }}</div>
                                            </div>
                                            <div id="{{ bug.id }}" class="card-bottom small text-gray-500">
                                                <span><a onclick="toggleUpvote('{{ bug.id }}')">
                                                          {% if bug in bugs_upvoted %}
                                                              <i class="fas fa-arrow-alt-circle-up upvote text-gray-300"></i>
                                                          {% else %}
                                                              <i class="far fa-arrow-alt-circle-up upvote text-gray-300"></i>
                                                          {% endif %}
                                                          Upvotes: {{ bug.upvotes }}</a>
                                                </span>
                                                <span class="view-span">Views: {{ bug.views }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="mb-4">
                                <div class="card border-left-warning shadow h-100 py-2" draggable="true">
                                    <div class="card-body">
                                        <div class="no-gutters align-items-center">
                                            <div class="col-12-md mr-2">
                                                <span class="badge status-badge badge-warning">{{ bug.status }}</span>
                                                <div class="m-0 font-weight-bold text-primary"><a href="{% url 'bug_detail' bug.id %}">{{ bug.name }}</a>
                                                </div>
                                                <div class="text-truncate">{{ bug.description }}</div>
                                            </div>
                                            <div id="{{ bug.id }}" class="card-bottom small text-gray-500">
                                                {% if user.is_authenticated %}
                                                <span><a onclick="toggleUpvote('{{ bug.id }}')">
                                                          {% if bug in bugs_upvoted %}
                                                              <i class="fas fa-arrow-alt-circle-up upvote text-gray-300"></i>
                                                          {% else %}
                                                              <i class="far fa-arrow-alt-circle-up upvote text-gray-300"></i>
                                                          {% endif %}
                                                          Upvotes: {{ bug.upvotes }}</a>
                                                </span>
                                                <span class="view-span">Views: {{ bug.views }}</span>
                                                {% else %}
                                                <span>Upvotes: {{ bug.upvotes }}</span> <span>Views: {{ bug.views }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="mb-4">
                        <div class="card shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">There are no bugs in progress at the moment</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow mb-4 status-container" data-status="IN REVIEW" ondrop="drop(event)" ondragover="allowDrop(event)">
            <!-- Card Header -->
            <div class="card-header mb-2 py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">In review</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                {% if bugs_in_review %}
                    {% for bug in bugs_in_review %}
                        {% if user.is_staff %}
                            <div class="mb-4">
                                <div class="card border-left-info shadow h-100 py-2" id="bug-{{ bug.id }}" draggable="true"
                                     ondragstart="drag(event)">
                                    <div class="card-body">
                                        <div class="no-gutters align-items-center">
                                            <div class="col-md-12 mr-2">
                                                <span class="badge status-badge badge-info">{{ bug.status }}</span>
                                                <div class="m-0 font-weight-bold text-primary"><a href="{% url 'bug_detail' bug.id %}">{{ bug.name }}</a>
                                                </div>
                                                <div class="text-truncate">{{ bug.description }}</div>
                                            </div>
                                            <div id="{{ bug.id }}" class="card-bottom small text-gray-500">
                                                <span><a onclick="toggleUpvote('{{ bug.id }}')">
                                                          {% if bug in bugs_upvoted %}
                                                              <i class="fas fa-arrow-alt-circle-up upvote text-gray-300"></i>
                                                          {% else %}
                                                              <i class="far fa-arrow-alt-circle-up upvote text-gray-300"></i>
                                                          {% endif %}
                                                          Upvotes: {{ bug.upvotes }}</a>
                                                </span>
                                                <span class="view-span">Views: {{ bug.views }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="mb-4">
                                <div class="card border-left-info shadow h-100 py-2" draggable="true">
                                    <div class="card-body">
                                        <div class="no-gutters align-items-center">
                                            <div class="col-md-12 mr-2">
                                                <span class="badge status-badge badge-info">{{ bug.status }}</span>
                                                <div class="m-0 font-weight-bold text-primary"><a href="{% url 'bug_detail' bug.id %}">{{ bug.name }}</a>
                                                </div>
                                                <div class="text-truncate">{{ bug.description }}</div>
                                            </div>
                                            <div id="{{ bug.id }}" class="card-bottom small text-gray-500">
                                                {% if user.is_authenticated %}
                                                <span><a onclick="toggleUpvote('{{ bug.id }}')">
                                                          {% if bug in bugs_upvoted %}
                                                              <i class="fas fa-arrow-alt-circle-up upvote text-gray-300"></i>
                                                          {% else %}
                                                              <i class="far fa-arrow-alt-circle-up upvote text-gray-300"></i>
                                                          {% endif %}
                                                          Upvotes: {{ bug.upvotes }}</a>
                                                </span>
                                                <span class="view-span">Views: {{ bug.views }}</span>
                                                {% else %}
                                                <span>Upvotes: {{ bug.upvotes }}</span> <span>Views: {{ bug.views }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="mb-4">
                        <div class="card shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">There are no bugs in review right now</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow mb-4 status-container" data-status="COMPLETE" ondrop="drop(event)" ondragover="allowDrop(event)">
            <!-- Card Header -->
            <div class="card-header mb-2 py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Done</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                {% if bugs_complete %}
                    {% for bug in bugs_complete %}
                        {% if user.is_staff %}
                            <div class="mb-4">
                                <div class="card border-left-success shadow h-100 py-2" id="bug-{{ bug.id }}" draggable="true"
                                     ondragstart="drag(event)">
                                    <div class="card-body">
                                        <div class="no-gutters align-items-center">
                                            <div class="col-md-12 mr-2">
                                                <span class="badge status-badge badge-success">{{ bug.status }}</span>
                                                <div class="m-0 font-weight-bold text-primary"><a href="{% url 'bug_detail' bug.id %}">{{ bug.name }}</a>
                                                </div>
                                                <div class="text-truncate">{{ bug.description }}</div>
                                            </div>
                                            <div id="{{ bug.id }}" class="card-bottom small text-gray-500">
                                                <span><a onclick="toggleUpvote('{{ bug.id }}')">
                                                          {% if bug in bugs_upvoted %}
                                                              <i class="fas fa-arrow-alt-circle-up upvote text-gray-300"></i>
                                                          {% else %}
                                                              <i class="far fa-arrow-alt-circle-up upvote text-gray-300"></i>
                                                          {% endif %}
                                                          Upvotes: {{ bug.upvotes }}</a>
                                                </span>
                                                <span class="view-span">Views: {{ bug.views }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="mb-4">
                                <div class="card border-left-success shadow h-100 py-2" draggable="true">
                                    <div class="card-body">
                                        <div class="no-gutters align-items-center">
                                            <div class="col-md-12 mr-2">
                                                <span class="badge status-badge badge-success">{{ bug.status }}</span>
                                                <div class="m-0 font-weight-bold text-primary"><a href="{% url 'bug_detail' bug.id %}">{{ bug.name }}</a>
                                                </div>
                                                <div class="text-truncate">{{ bug.description }}</div>
                                            </div>
                                            <div id="{{ bug.id }}" class="card-bottom small text-gray-500">
                                                {% if user.is_authenticated %}
                                                <span><a onclick="toggleUpvote('{{ bug.id }}')">
                                                          {% if bug in bugs_upvoted %}
                                                              <i class="fas fa-arrow-alt-circle-up upvote text-gray-300"></i>
                                                          {% else %}
                                                              <i class="far fa-arrow-alt-circle-up upvote text-gray-300"></i>
                                                          {% endif %}
                                                          Upvotes: {{ bug.upvotes }}</a>
                                                </span>
                                                <span class="view-span">Views: {{ bug.views }}</span>
                                                {% else %}
                                                <span>Upvotes: {{ bug.upvotes }}</span> <span>Views: {{ bug.views }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="mb-4">
                        <div class="card shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">No bugs have been completed yet</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<hr>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h4 class="h4 sub-heading mb-0">Features</h4>
</div>

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow mb-4 status-container" data-status="CREATED" ondrop="drop(event)" ondragover="allowDrop(event)">
            <!-- Card Header -->
            <div class="card-header mb-2 py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">To do</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                {% if features_created %}
                    {% for feature in features_created %}
                        {% if user.is_staff %}
                            <div class="mb-4">
                                <div class="card border-left-secondary shadow h-100 py-2" id="feature-{{ feature.id }}" draggable="true"
                                     ondragstart="drag(event)">
                                    <div class="card-body">
                                        <div class="no-gutters align-items-center">
                                            <div class="col-md-12 mr-2">
                                                <span class="badge status-badge badge-secondary">{{ feature.status }}</span>
                                                <div class="m-0 font-weight-bold text-primary"><a href="{% url 'feature_detail' feature.id %}">{{ feature.name }}</a>
                                                </div>
                                                <div class="text-truncate">{{ feature.description }}</div>
                                            </div>
                                            <div class="row small text-gray-500">
                                                <p><span>Donations: € {{ feature.donations }}</span> <span>Views: {{ feature.views }}</span></p>
                                                <form method="post" action="{% url 'add_to_cart' feature.id %}">
                                                    {% csrf_token %}
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><span class="glyphicon glyphicon-eur"
                                                                                             aria-hidden="true"></span></div>
                                                        <input name="donation_amount" type="number" min="1" max="999" class="form-control"
                                                               placeholder="€">
                                                        <span class="input-group-btn">
                                                                <button class="btn btn-success" type="submit"><i class="fas fa-cart-plus"></i></button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="mb-4">
                                <div class="card border-left-secondary shadow h-100 py-2" draggable="true">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <span class="badge status-badge badge-secondary">{{ feature.status }}</span>
                                                <div class="m-0 font-weight-bold text-primary"><a href="{% url 'feature_detail' feature.id %}">{{ feature.name }}</a>
                                                </div>
                                                <div class="text-truncate">{{ feature.description }}</div>
                                            </div>
                                            <div class="col-auto text-center small text-gray-500">
                                                <p><span>Donations: € {{ feature.donations }}</span><br>
                                                    <span>Views: {{ feature.views }}</span></p>
                                                <form method="post" action="{% url 'add_to_cart' feature.id %}">
                                                    {% csrf_token %}
                                                    <div class="input-group">
                                                        <div>
                                                            <input name="donation_amount" type="number" min="1" max="999" class="form-control"
                                                                   placeholder="€">
                                                        </div>
                                                        <div class="input-group-btn">
                                                                <button class="btn btn-success" type="submit"><i class="fas fa-cart-plus"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="mb-4">
                        <div class="card shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">There are currently no new features to do</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow mb-4 status-container" data-status="IN PROGRESS" ondrop="drop(event)" ondragover="allowDrop(event)">
            <!-- Card Header -->
            <div class="card-header mb-2 py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">In progress</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                {% if features_in_progress %}
                    {% for feature in features_in_progress %}
                        {% if user.is_staff %}
                            <div class="mb-4">
                                <div class="card border-left-warning shadow h-100 py-2" id="feature-{{ feature.id }}" draggable="true"
                                     ondragstart="drag(event)">
                                    <div class="card-body">
                                        <div class="no-gutters align-items-center">
                                            <div class="col-md-12 mr-2">
                                                <span class="badge status-badge badge-warning">{{ feature.status }}</span>
                                                <div class="m-0 font-weight-bold text-primary"><a href="{% url 'feature_detail' feature.id %}">{{ feature.name }}</a>
                                                </div>
                                                <div class="text-truncate">{{ feature.description }}</div>
                                            </div>
                                            <div class="row small text-gray-500">
                                                <p><span>Donations: € {{ feature.donations }}</span> <span>Views: {{ feature.views }}</span></p>
                                                <form method="post" action="{% url 'add_to_cart' feature.id %}">
                                                    {% csrf_token %}
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><span class="glyphicon glyphicon-eur"
                                                                                             aria-hidden="true"></span></div>
                                                        <input name="donation_amount" type="number" min="1" max="999" class="form-control"
                                                               placeholder="€">
                                                        <span class="input-group-btn">
                                                                <button class="btn btn-success" type="submit"><i class="fas fa-cart-plus"></i></button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="mb-4">
                                <div class="card border-left-warning shadow h-100 py-2" draggable="true">
                                    <div class="card-body">
                                        <div class="no-gutters align-items-center">
                                            <div class="col-md-12 mr-2">
                                                <span class="badge status-badge badge-warning">{{ feature.status }}</span>
                                                <div class="m-0 font-weight-bold text-primary"><a href="{% url 'feature_detail' feature.id %}">{{ feature.name }}</a>
                                                </div>
                                                <div class="text-truncate">{{ feature.description }}</div>
                                            </div>
                                            <div class="row small text-gray-500">
                                                <p><span>Donations: € {{ feature.donations }}</span><br>
                                                    <span>Views: {{ feature.views }}</span></p>
                                                <form method="post" action="{% url 'add_to_cart' feature.id %}">
                                                    {% csrf_token %}
                                                    <div class="input-group">
                                                        <div>
                                                            <input name="donation_amount" type="number" min="1" max="999" class="form-control"
                                                                   placeholder="€">
                                                        </div>
                                                        <div class="input-group-btn">
                                                                <button class="btn btn-success" type="submit"><i class="fas fa-cart-plus"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="mb-4">
                        <div class="card shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">There are no features in progress at the moment</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow mb-4 status-container" data-status="IN REVIEW" ondrop="drop(event)" ondragover="allowDrop(event)">
            <!-- Card Header -->
            <div class="card-header mb-2 py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">In review</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                {% if features_in_review %}
                    {% for feature in features_in_review %}
                        {% if user.is_staff %}
                            <div class="mb-4">
                                <div class="card border-left-info shadow h-100 py-2" id="feature-{{ feature.id }}" draggable="true"
                                     ondragstart="drag(event)">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <span class="badge status-badge badge-info">{{ feature.status }}</span>
                                                <div class="m-0 font-weight-bold text-primary"><a href="{% url 'feature_detail' feature.id %}">{{ feature.name }}</a>
                                                </div>
                                                <div class="text-truncate">{{ feature.description }}</div>
                                            </div>
                                            <div class="col-auto text-center small text-gray-500">
                                                <p><span>Donations: € {{ feature.donations }}</span> <span>Views: {{ feature.views }}</span></p>
                                                <form method="post" action="{% url 'add_to_cart' feature.id %}">
                                                    {% csrf_token %}
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><span class="glyphicon glyphicon-eur"
                                                                                             aria-hidden="true"></span></div>
                                                        <input name="donation_amount" type="number" min="1" max="999" class="form-control"
                                                               placeholder="€">
                                                        <span class="input-group-btn">
                                                                <button class="btn btn-success" type="submit"><i class="fas fa-cart-plus"></i></button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="mb-4">
                                <div class="card border-left-info shadow h-100 py-2" draggable="true">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <span class="badge status-badge badge-info">{{ feature.status }}</span>
                                                <div class="m-0 font-weight-bold text-primary"><a href="{% url 'feature_detail' feature.id %}">{{ feature.name }}</a>
                                                </div>
                                                <div class="text-truncate">{{ feature.description }}</div>
                                            </div>
                                            <div class="col-auto text-center small text-gray-500">
                                                <p><span>Donations: € {{ feature.donations }}</span><br>
                                                    <span>Views: {{ feature.views }}</span></p>
                                                <form method="post" action="{% url 'add_to_cart' feature.id %}">
                                                    {% csrf_token %}
                                                    <div class="input-group">
                                                        <div>
                                                            <input name="donation_amount" type="number" min="1" max="999" class="form-control"
                                                                   placeholder="€">
                                                        </div>
                                                        <div class="input-group-btn">
                                                                <button class="btn btn-success" type="submit"><i class="fas fa-cart-plus"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="mb-4">
                        <div class="card shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">There are no features in review right now</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow mb-4 status-container" data-status="COMPLETE" ondrop="drop(event)" ondragover="allowDrop(event)">
            <!-- Card Header -->
            <div class="card-header mb-2 py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Done</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                {% if features_complete %}
                    {% for feature in features_complete %}
                        {% if user.is_staff %}
                            <div class="mb-4">
                                <div class="card border-left-success shadow h-100 py-2" id="feature-{{ feature.id }}" draggable="true"
                                     ondragstart="drag(event)">
                                    <div class="card-body">
                                        <div class="no-gutters align-items-center">
                                            <div class="col-md-12 mr-2">
                                                <span class="badge status-badge badge-success">{{ feature.status }}</span>
                                                <div class="m-0 font-weight-bold text-primary"><a href="{% url 'feature_detail' feature.id %}">{{ feature.name }}</a>
                                                </div>
                                                <div class="text-truncate">{{ feature.description }}</div>
                                            </div>
                                            <div class="row small text-gray-500">
                                                <p><span>Donations: € {{ feature.donations }}</span> <span>Views: {{ feature.views }}</span></p>
                                                <form method="post" action="{% url 'add_to_cart' feature.id %}">
                                                    {% csrf_token %}
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><span class="glyphicon glyphicon-eur"
                                                                                             aria-hidden="true"></span></div>
                                                        <input name="donation_amount" type="number" min="1" max="999" class="form-control"
                                                               placeholder="€">
                                                        <span class="input-group-btn">
                                                                <button class="btn btn-success" type="submit"><i class="fas fa-cart-plus"></i></button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="mb-4">
                                <div class="card border-left-success shadow h-100 py-2" draggable="true">
                                    <div class="card-body">
                                        <div class="no-gutters align-items-center">
                                            <div class="col-md-12 mr-2">
                                                <span class="badge status-badge badge-success">{{ feature.status }}</span>
                                                <div class="m-0 font-weight-bold text-primary"><a href="{% url 'feature_detail' feature.id %}">{{ feature.name }}</a>
                                                </div>
                                                <div class="text-truncate">{{ feature.description }}</div>
                                            </div>
                                            <div class="row small text-gray-500">
                                                <p><span>Donations: € {{ feature.donations }}</span><br>
                                                    <span>Views: {{ feature.views }}</span></p>
                                                <form method="post" action="{% url 'add_to_cart' feature.id %}">
                                                    {% csrf_token %}
                                                    <div class="input-group">
                                                        <div>
                                                            <input name="donation_amount" type="number" min="1" max="999" class="form-control"
                                                                   placeholder="€">
                                                        </div>
                                                        <div class="input-group-btn">
                                                                <button class="btn btn-success" type="submit"><i class="fas fa-cart-plus"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="mb-4">
                        <div class="card shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">No features have been completed yet</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% endblock %}
</div>