{% extends "base.html" %}

{% block content %}
    {% if validlink %}
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 page-heading">Set a new password</h1>
        </div>
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="card shadow mb-4 container pt-4 pb-4 text-center">
                    <p>Please enter your new password twice.<br/>
                        So we can verify you typed it in correctly.</p>
                    <form action="" method="post" class="accountform">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <td>{{ form.new_password1.errors }}
                                    <label for="id_new_password1">New password:</label></td>
                                <td>{{ form.new_password1 }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.new_password2.errors }}
                                    <label for="id_new_password2">Confirm password:</label></td>
                                <td>{{ form.new_password2 }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" value="Change my password"/></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>

    {% else %}
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 page-heading">Password reset unsuccessful</h1>
        </div>
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="card shadow mb-4 container pt-4 pb-4 text-center">
                    <p>The password reset link was invalid. <br/>
                        It may already have been used or the link may have expired.<br/>
                        Please request a new password reset.</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}