{% extends "base.html" %}

{% block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 page-heading">Password reset successful</h1>
    </div>

    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card shadow mb-4 container pt-4 pb-4 text-center">
                <p>We've sent some instructions on resetting your password to the email you provided.</p>
                <p>You should receive it shortly. If you can't see it, make sure to check your spam folder!</p>
                <div class="col-sm-12">
                    <a href="{% url 'index' %}" class="btn btn-primary" role="button">Back to dashboard</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}