{% extends "base.html" %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 page-heading">Password reset complete</h1>
    </div>

    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card shadow mb-4 container pt-4 pb-4 text-center">
                <p>Your password has been set.  You can go ahead and log in now!</p>
                <div class="col-sm-12">
                    <a href="{% url 'login' %}" class="btn btn-primary" role="button">Login</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}