{% extends "base.html" %}
{% load comments %}
{% block content %}
<div class="row row-flex">
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-10 component-container">
            <div class="col-sm-10 col-md-6 component">
                <h3>{{ feature.name }}</h3>
                {% if feature.status == "CREATED" %}
                    <span class="right label label-default">{{ feature.status }}</span>
                {% elif feature.status == "IN PROGRESS" %}
                    <span class="right label label-warning">{{ feature.status }}</span>
                {% elif feature.status == "IN REVIEW" %}
                    <span class="right label label-primary">{{ feature.status }}</span>
                {% else %}
                    <span class="right label label-success">{{ feature.status }}</span>
                {% endif %}
                <h4>Created by: {{ feature.username }}</h4>
            </div>
            <div class="col-sm-10 col-md-6 component">
                {% if feature.image %}
                <img class="attachment" src="/media/{{ feature.image }}">
                {% endif %}
            </div>
            <div class="row">
                <div class="col-sm-10 component">
                    <div class="issue-detail">
                        <p>{{ feature.description }}</p>
                        <span class="boldtext"><p>Created on: {{ feature.date_added }}</p></span>
                        {% if feature.date_started %}
                            <span class="boldtext"><p>Started on: {{ feature.date_started }} </p></span>
                        {% endif %}
                        {% if feature.date_finished %}
                            <span class="boldtext"><p>Completed on: {{ feature.date_finished }}</p></span>
                        {% endif %}
                        <span class="boldtext"><p>Donations: {{ feature.donations }}</p></span>
                        <span class="boldtext"><p>Views:  {{ feature.views }}</p></span>

                        {% get_comment_count for feature as comment_count %}
                        <div class="py-4">
                            {{ comment_count }} comment{{ comment_count|pluralize }}
                            ha{{ comment_count|pluralize:"s,ve" }} been posted.
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    {% if comment_count %}
    <hr/>
    <div class="comments">
        {% render_comment_list for feature %}
    </div>
    {% endif %}
</div>
<div class="row row-flex bottom-container">
    {% if user.is_authenticated %}
    <div class="card card-block mb-5 comment-container">
        <div class="card-body">
            {% render_comment_form for feature %}
        </div>
    </div>
    {% else %}
    <p>Please <a href="{% url 'login' %}">Log in</a> or <a href="{% url 'register' %}">register</a> to post a comment
    </p>

    {% endif %}
</div>
{% endblock %}