{% extends 'base.html' %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Features</h1>
</div>

<div class="row">
    <div class="col-md-12 mb-4">
        <div class="card shadow mb-4 status-container">
            <div class="card-body">
                {% if features %}
                {% for feature in features %}
                    <div class="col-md-3 mb-4" style="display: inline-block">
                        <div class="card {% if feature.status == 'CREATED' %} border-left-secondary
                        {% elif feature.status == 'IN PROGRESS' %} border-left-warning
                        {% elif feature.status == 'IN REVIEW' %} border-left-info
                        {% else %} border-left-success {% endif %} shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        {% if feature.status == "CREATED" %}
                                        <span class="badge badge-secondary">{{ feature.status }}</span>
                                        {% elif feature.status == "IN PROGRESS" %}
                                        <span class="badge badge-warning">{{ feature.status }}</span>
                                        {% elif feature.status == "IN REVIEW" %}
                                        <span class="badge badge-info">{{ feature.status }}</span>
                                        {% else %}
                                        <span class="badge badge-success">{{ feature.status }}</span>
                                        {% endif %}
                                        <div class="m-0 font-weight-bold text-primary"><a href="{% url 'feature_detail' feature.id %}">{{ feature.name }}</a></div>
                                        <div class="text-truncate">{{ feature.description }}</div>
                                    </div>
                                    <div class="col-auto text-center small text-gray-500">
                                        <p><span>Donations: € {{ feature.donations }}</span> <span>Views: {{ feature.views }}</span></p>
                                        <form method="post" action="{% url 'add_to_cart' feature.id %}">
                                            {% csrf_token %}
                                            <div class="input-group">
                                                <div class="input-group-addon"><span class="glyphicon glyphicon-eur"
                                                                                     aria-hidden="true"></span></div>
                                                <input name="donation_amount" type="number" min="1" max="999" class="form-control"
                                                       placeholder="€">
                                                <span class="input-group-btn">
                                                        <button class="btn btn-success" type="submit"><i class="fas fa-cart-plus"></i></button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                    <div class="mb-4">
                        <div class="card shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            It doesn't look like there are any features yet.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}