{% extends "base.html" %}
{% load comments %}
{% block content %}


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 page-heading">{{ feature.name }}</h1>
    {% if user.is_authenticated %}
        {% if user == feature.username %}
    <a href="{% url 'edit_feature' feature.id %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i> Edit feature</a>
        {% endif %}
    {% endif %}
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card shadow container">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-4">
                        {% if feature.status == "CREATED" %}
                        <span class="badge detail-badge badge-secondary">{{ feature.status }}</span>
                        {% elif feature.status == "IN PROGRESS" %}
                        <span class="badge detail-badge badge-warning">{{ feature.status }}</span>
                        {% elif feature.status == "IN REVIEW" %}
                        <span class="badge detail-badge badge-info">{{ feature.status }}</span>
                        {% else %}
                        <span class="badge detail-badge badge-success">{{ feature.status }}</span>
                        {% endif %}
                        <div class="card-body">
                            <p>Added by: {{ feature.username }}</p>
                            <div class="small text-gray-600">
                                <p>Created on: {{ feature.date_added }} </p>
                                {% if feature.date_started %}
                                <p>Started on: {{ feature.date_started }} </p>
                                {% endif %}
                                {% if feature.date_finished %}
                                <p>Completed on: {{ feature.date_finished }} </p>
                                {% endif %}
                                <p>Donations: € {{ feature.donations }}</p>
                                <p>Views: {{ feature.views }}</p>
                            </div>
                        </div>
                    </div>
                        <div class="col-md-8">
                            {% if feature.image %}
                                <img class="attachment shadow" src="/media/{{ feature.image }}">
                            {% endif %}
                        </div>

                </div>
                <div class="row no-gutters align-items-center">
                    <div class="col-md-9">
                        <div class="card-body" style="padding-bottom: 0px;">
                            <p style="margin-top: 10px">{{ feature.description }}</p>
                            {% get_comment_count for feature as comment_count %}
                            <div class="small" style="padding-bottom: 1.5rem">
                                {{ comment_count }} comment{{ comment_count|pluralize }}
                                ha{{ comment_count|pluralize:"s,ve" }} been posted.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card-body">
                            <div class="col-auto text-center small text-gray-500">
                                <p class="text-gray-400" style="text-transform: uppercase"><span><b>Donate:</b></span></p>

                            </div>
                            <form method="post" action="{% url 'add_to_cart' feature.id %}">
                                {% csrf_token %}
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-eur"
                                                                         aria-hidden="true"></span></div>
                                    <input name="donation_amount" type="number" min="1" max="999" class="form-control"
                                           placeholder="€">
                                    <span class="input-group-btn">
                                            <button class="btn btn-success" type="submit"><i class="fas fa-cart-plus"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mb-4">
        <div class="card shadow mb-4 container">
            <div class="d-sm-flex align-items-center justify-content-between mt-4 comment-padding">
                <h1 class="h5 mb-0 text-gray-600 comment-padding">Comments</h1>
            </div>
            <hr/>
            <div class="card-body comment-body">
                <div>
                    {% if comment_count %}
                    <div class="comments">
                        {% render_comment_list for feature %}
                    </div>
                    {% endif %}
                </div>
                <div class="row-flex bottom-container">
                    {% if user.is_authenticated %}
                    <div class="col-md-12">
                        <div class="card-body">
                            {% render_comment_form for feature %}
                        </div>
                    </div>
                    {% else %}
                    <p style="text-align: center;">Please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'register' %}">register</a> to post a comment
                    </p>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}



