body {
    font-family: Arial;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}


.accountform {
    padding-top: 20px;
}

.issue-container {
    border-style: solid;
    border-width: 1px;
    border-color: deepskyblue;
    border-radius: 5px;
}
.status-container {
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.component-container{
    display: flex;
    padding-top: 15px;
}

.component {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.detail-badge {
    margin: 1.25rem;
}

.attachment {
    max-width:100%;
    max-height:100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.issue-detail {
    padding-left: 15px;
}

.comment-avatar {
    padding-top: 8px;
    margin-right: 20px;
}

.comment-container {
    margin-top: 20px;
    padding-top: 15px;
}

.bottom-container {
    margin-top: 30px;
}