body {
    font-family: Arial;
    padding-top: 50px;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.issue-container {
    border-style: solid;
    border-width: 1px;
    border-color: deepskyblue;
    border-radius: 5px;
}

.issue-container >h3 {
    text-align: center;
}

.status-container {
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.status-container > h4 {
    text-align: center;
}

.component-container{
    display: flex;
    padding-top: 15px;
}

.component {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.component>h3 {
    margin-top: 10px;
}

.attachment {
    max-height: 250px;
}

.issue-detail {
    padding-left: 15px;
}

.pb-2 {
    border-radius: 4px;
}

.comment-avatar {
    padding-top: 8px;
}

.comment-container {
    margin-top: 20px;
}