body {
    font-family: Arial;
}

/*Sidebar*/
.bg-gradient-primary {
    background-color: #800080;
    background-image: linear-gradient(180deg,#800080 10%,#224abe 100%);
    border-color: #5C1D98;
}

#sidebarToggleTop {
    color: #800080;
}

.btn-main {
    background-color: #800080;
    border-color: #5C1D98;
    color: #fff;
}


.badge-counter {
    background-color: #ff8000;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}


.accountform {
    padding-top: 20px;
}

.issue-container {
    border-style: solid;
    border-width: 1px;
    border-color: deepskyblue;
    border-radius: 5px;
}
.status-container {
    /*height: 100%;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.component-container{
    display: flex;
    padding-top: 15px;
}

.component {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.detail-badge {
    margin: 1.25rem;
}

.attachment {
    max-width:100%;
    max-height:100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.issue-detail {
    padding-left: 15px;
}

.comment-avatar {
    padding-top: 8px;
    margin-right: 20px;
}

.comment-container {
    margin-top: 20px;
    padding-top: 15px;
}

.bottom-container {
    margin-top: 30px;
}

.page-heading {
    margin-left: auto;
    margin-right: auto;
    color: #53249E;
    font-weight: 600;
}

.sub-heading {
    color: #661491;
}

/*card styles*/

.upvote {
    font-size: 1.5em;
}

.card-body {
    padding-top: 5px;
}

.status-badge {
    margin-bottom: 15px;
}

.btn-success {
    color: #fff;
    background-color: #2d8659;
    border-color: #2d8659;
}

.view-span {
    /*padding-top: 3px;*/
    float: right;
}

.bugs-view {
    padding-top: 8px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.card-bottom {
    padding-top: 15px;
    width: 100%;
}

.issue-name {
    min-height: 35px;
    font-size: large;
}

.section-header {
    margin-right: auto;
    margin-left: auto;
}

a {
    color: #800080;
}

a:hover {
    color: #56219C;
}

.btn-primary {
    color: #fff;
    background-color: #53249E;
    border-color: #3938AF;
    transition: 0.6s;
}

.btn-primary:hover {
    color: #fff;
    background-color: #2746BB;
    border-color: #50259F;
}

legend {
    color: #53249E;
}

/*account */
#user_avatar.profile-pic {
    height: auto;
    max-width: 100%;
    padding-bottom: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color:#fff;
    background-color: #800080;
}

.purple-font {
    color: #800080;
}

#divider {
    border-bottom-width: 3px;
    border-bottom-color: #800080;
    border-bottom-style: solid;
}


@media (max-width: 576px) {
    .container-fluid {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .card-body {
        padding-left: 5px;
        padding-right: 5px;
    }
    .inline-pay-form {
        max-width: 72%;
    }
}

@media (max-width: 991.98px) {
    .profile-nav-label {
        display: none;
    }
    .profile-nav-icon::before {
        display: inline-block;
    }
}

@media (min-width: 992px) {
    .profile-nav-icon::before {
        display: none !important;
    }

    .profile-nav-label {
        display: inline-block;
    }
    #divider {
        border-right-width: 3px;
        border-right-color: #800080;
        border-right-style: solid;
        border-bottom-width: 0;
    }
}

