{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}

<!-- Page Header -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 page-heading">Checkout</h1>
</div>
<!-- End page header -->
<hr>
<div class="row">
    <div class="col-md-12 mb-4">
        <div class="card shadow mb-4 container">
        <!-- cart summary -->
            <div class="pt-4 pl-4">
                <h4 class="h4 sub-heading mb-0">Features in cart</h4>
            </div>
            <hr>

            <div class="card-body row">
                {% for item in cart_items %}
                <!-- feature cards in cart -->
                <div class="col-md-6 col-lg-4 col-xl-3 mb-4" style="display: inline-block">
                    <div class="card {% if item.feature.status == 'CREATED' %} border-left-secondary
                        {% elif item.feature.status == 'IN PROGRESS' %} border-left-warning
                        {% elif item.feature.status == 'IN REVIEW' %} border-left-info
                        {% else %} border-left-success {% endif %} shadow h-100 py-2">
                        <div class="card-body pb-2">
                            <div class="row no-gutters align-items-center">
                                <div class="col-md-12 mr-2">
                                    {% if item.feature.status == "CREATED" %}
                                    <span class="badge status-badge badge-secondary">{{ item.feature.status }}</span>
                                    {% elif item.feature.status == "IN PROGRESS" %}
                                    <span class="badge status-badge badge-warning">{{ item.feature.status }}</span>
                                    {% elif item.feature.status == "IN REVIEW" %}
                                    <span class="badge status-badge badge-info">{{ item.feature.status }}</span>
                                    {% else %}
                                    <span class="badge status-badge badge-success">{{ item.feature.status }}</span>
                                    {% endif %}
                                    <div class="m-0 issue-name font-weight-bold text-primary" style="min-height: 30px"><a
                                            href="{% url 'feature_detail' item.id %}">{{ item.feature.name }}</a></div>
                                    <div class="text-truncate">{{ item.feature.description }}</div>
                                </div>
                                <div class="col-sm-12 pt-1 small text-gray-500">
                                    <div>Feature donation: € {{ item.donation_amount }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- end feature cards in cart -->
            </div>
            <hr>
            <!-- Donation total -->
                <div class="row pl-4 mb-3">
                    <div class="col-sm-12 text-gray-500">
                        <div>Total donation: € {{ total }}</div>
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mb-4">
        <!-- Payment form section -->
        <div class="card shadow mb-4 pt-4 pb-4 container">
            <form class="pl-4" role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
                <legend>Payment Details</legend>
                <hr>

                <div id="credit-card-errors">
                    <div id="alert-message block-message error" id="stripe-error-message"></div>
                </div>

                <div class="form-group col-md-6" style="display: none">
                    {{ donation_form | as_bootstrap }}
                </div>

                <div class="form-group col-md-6">
                    {{ payment_form | as_bootstrap }}
                </div>

                {% csrf_token %}
                <div class="form-group col-md-12">
                    <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit"
                           value="Submit Payment">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}