{% extends "base.html" %}
{% load avatar_tags %}
{% block content %}
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-4">
        <h1>{{ user.username }}</h1>
        <div>{% avatar user class="img-circle img-responsive" id="user_avatar" %}</div>
    </div>
    <div lass="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-8">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active" data-toggle="collapse" data-target="#issues"><a href="#">My Issues</a></li>
            <li role="presentation" data-toggle="collapse" data-target="#upvotes"><a href="#">Upvoted Bugs</a></li>
            <li role="presentation" data-toggle="collapse" data-target="#donations"><a href="#">Donations</a></li>
        </ul>
    </div>
</div>

<!--    Now displays both bugs and features the user added-->
<div class="row" id="profile-content">
    <div class="collapse in" id="issues">
        <h3>My issues</h3>
        <div class="row row-flex">
            {% if bugs %}
                {% for bug in bugs %}
                    <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-4 display panel panel-default">
                        <div class="panel-body">
                            <span class="right label label-primary">{{ bug.status }}</span>
                            <span><h3><a href="{% url 'bug_detail' bug.id %}">{{ bug.name }}</a></h3></span>

                            <p class="issue-description">{{ bug.description }}</p>
                            <p><span>Upvotes: {{ bug.upvotes }}</span> <span>Views: {{ bug.views }}</span></p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-4 display panel panel-default">
                <div class="panel-body">
                    <p>You haven't added any bugs yet</p>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row row-flex">
            {% if features %}
                {% for feature in features %}
                    <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-4 display panel panel-default">
                        <div class="panel-body">
                            <span><h3><a href="{% url 'feature_detail' feature.id %}">{{ feature.name }}</a></h3></span>
                            <span class="label label-primary">{{ feature.status }}</span>
                            <p class="issue-description">{{ feature.description }}</p>
                            <p><span>Donations: {{ feature.donations }}</span> <span>Views: {{ feature.views }}</span></p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-4 display panel panel-default">
                <div class="panel-body">
                    <p>You haven't added any features yet</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="collapse" id="upvotes">
        <h3>Bugs I've upvoted</h3>
        <div class="row row-flex">
            {% if bugs_upvoted %}
                {% for bug in bugs_upvoted %}
                    <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-4 display panel panel-default">
                        <div class="panel-body">
                            <span class="right label label-primary">{{ bug.status }}</span>
                            <span><h3><a href="{% url 'bug_detail' bug.id %}">{{ bug.name }}</a></h3></span>

                            <p class="issue-description">{{ bug.description }}</p>
                            <p><span>Upvotes: {{ bug.upvotes }}</span> <span>Views: {{ bug.views }}</span></p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-4 display panel panel-default">
                <div class="panel-body">
                    <p>You haven't upvoted any bugs yet</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="collapse" id="donations">
        <h3>Features I've donated to</h3>
        <div class="row row-flex">
            {% if donations %}
                {% for donation in donations %}
                    <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-4 display panel panel-default">
                        <div class="panel-body">
                            <span><h3><a href="{% url 'feature_detail' donation.feature.id %}">{{ donation.feature.name }}</a></h3></span>
                            <span class="label label-primary">{{ donation.feature.status }}</span>
                            <p class="issue-description">{{ donation.feature.description }}</p>
                            <p>Donation: {{ donation.amount }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-4 display panel panel-default">
                <div class="panel-body">
                    <p>You haven't donated for any features yet</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}