{% extends 'base.html' %}

{% block content %}


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 page-heading">Search results for "{{ search_term }}"</h1>
</div>
<div class="row">
    <div class="col-md-12 mb-4">
        <div class="mb-4">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card shadow mb-4 status-container">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Bugs</h6>
                        </div>
                        <div class="row card-body">
                            {% if bugs %}
                                {% for bug in bugs %}
                                    <div class="col-lg-6 mb-4">
                                        <div class="card {% if bug.status == 'CREATED' %} border-left-secondary
                                            {% elif bug.status == 'IN PROGRESS' %} border-left-warning
                                            {% elif bug.status == 'IN REVIEW' %} border-left-info
                                            {% else %} border-left-success {% endif %} shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        {% if bug.status == "CREATED" %}
                                                            <span class="badge status-badge badge-secondary">{{ bug.status }}</span>
                                                        {% elif bug.status == "IN PROGRESS" %}
                                                            <span class="badge status-badge badge-warning">{{ bug.status }}</span>
                                                        {% elif bug.status == "IN REVIEW" %}
                                                            <span class="badge status-badge badge-info">{{ bug.status }}</span>
                                                        {% else %}
                                                            <span class="badge status-badge badge-success">{{ bug.status }}</span>
                                                        {% endif %}
                                                        <div class="m-0 font-weight-bold text-primary">{{ bug.name }}</div>
                                                        <div class="text-truncate">{{ bug.description }}</div>
                                                    </div>
                                                    <div data-bug-id="{{ bug.id }}" class="card-bottom small text-gray-500">
                                                        <span><a onclick="toggleUpvote('{{ bug.id }}')">
                                                                  {% if bug in bugs_upvoted %}
                                                                      <i class="fas fa-arrow-alt-circle-up fa-2x text-gray-300"></i>
                                                                  {% else %}
                                                                      <i class="far fa-arrow-alt-circle-up fa-2x text-gray-300"></i>
                                                                  {% endif %}
                                                                      Upvotes: {{ bug.upvotes }}</a>
                                                        </span>
                                                        <span class="bugs-view right">Views: {{ bug.views }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                            <div class="mb-4">
                                <div class="card shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-center text-primary text-uppercase mb-1">
                                                    We couldn't find any bug that match your search. Feel free to
                                                    <a class="collapse-item" href="{% url 'new_bug' %}">add one.</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card shadow mb-4 status-container">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Features</h6>
                        </div>
                        <div class="row card-body">
                            {% if features %}
                                {% for feature in features %}
                                    <div class="col-lg-6 mb-4">
                                        <div class="card {% if feature.status == 'CREATED' %} border-left-secondary
                                            {% elif feature.status == 'IN PROGRESS' %} border-left-warning
                                            {% elif feature.status == 'IN REVIEW' %} border-left-info
                                            {% else %} border-left-success {% endif %} shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        {% if feature.status == "CREATED" %}
                                                        <span class="badge status-badge badge-secondary">{{ feature.status }}</span>
                                                        {% elif feature.status == "IN PROGRESS" %}
                                                        <span class="badge status-badge badge-warning">{{ feature.status }}</span>
                                                        {% elif feature.status == "IN REVIEW" %}
                                                        <span class="badge status-badge badge-info">{{ feature.status }}</span>
                                                        {% else %}
                                                        <span class="badge status-badge badge-success">{{ feature.status }}</span>
                                                        {% endif %}
                                                        <div class="m-0 font-weight-bold text-primary"><a href="{% url 'feature_detail' feature.id %}">{{ feature.name }}</a>
                                                        </div>
                                                        <div class="text-truncate">{{ feature.description }}</div>
                                                    </div>
                                                    <div class="card-bottom small text-gray-500">
                                                        <p><span>Donations: € {{ feature.donations }}</span> <span class="view-span">Views: {{ feature.views }}</span>
                                                        </p>
                                                        <form method="post" action="{% url 'add_to_cart' feature.id %}">
                                                            {% csrf_token %}
                                                            <div class="input-group">
                                                                <input name="donation_amount" type="number" min="1" max="999" class="form-control"
                                                                       placeholder="€">
                                                                <div class="input-group-btn">
                                                                        <button class="btn btn-success" type="submit"><i class="fas fa-cart-plus"></i></button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="mb-4">
                                    <div class="card shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-center text-primary text-uppercase mb-1">
                                                        We couldn't find any features that match your search. Feel free to
                                                        <a class="collapse-item" href="{% url 'new_feature' %}">add one.</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}