{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}

<!-- Page Header-->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    {% if user_is.authenticated %}
        <h1 class="h3 mb-0 page-heading">{{ user.username }}'s cart</h1>
    {% else %}
         <h1 class="h3 mb-0 page-heading">My cart</h1>
    {% endif %}
</div>
<!-- End Page header -->
<hr>

<div class="row">
    <div class="col-md-12 mb-4">
        <div class="card shadow mb-4 container">
            <div class="card-body mt-4 row">
                {% if cart_items %}
                {% for item in cart_items %}
                <!-- feature cards in cart -->
                <div class="col-md-6 col-lg-4 col-xl-3 mb-4" style="display: inline-block">
                    <div class="card {% if item.feature.status == 'CREATED' %} border-left-secondary
                        {% elif item.feature.status == 'IN PROGRESS' %} border-left-warning
                        {% elif item.feature.status == 'IN REVIEW' %} border-left-info
                        {% else %} border-left-success {% endif %} shadow h-100 py-2">
                        <div class="card-body" style="padding-bottom: 5px">
                            <div class="row no-gutters align-items-center">
                                <div class="col-md-12 mr-2">
                                    {% if item.feature.status == "CREATED" %}
                                    <span class="badge status-badge badge-secondary">{{ item.feature.status }}</span>
                                    {% elif item.feature.status == "IN PROGRESS" %}
                                    <span class="badge status-badge badge-warning">{{ item.feature.status }}</span>
                                    {% elif item.feature.status == "IN REVIEW" %}
                                    <span class="badge status-badge badge-info">{{ item.feature.status }}</span>
                                    {% else %}
                                    <span class="badge status-badge badge-success">{{ item.feature.status }}</span>
                                    {% endif %}
                                    <form method="post" style="float:right" class="form-inline" action="{% url 'remove_from_cart' item.id %}">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <!-- remove from cart -->
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-danger" aria-label="Left Align">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                    <div class="m-0 issue-name font-weight-bold text-primary"><a href="{% url 'feature_detail' item.id %}">{{ item.feature.name }}</a></div>
                                    <div class="text-truncate">{{ item.feature.description }}</div>
                                </div>
                                <div class="small text-gray-500" style="width: 100%">
                                    <div class="pt-1 pb-2">Current donation value in cart: € {{ item.donation_amount }}</div>
                                    <form method="post" action="{% url 'adjust_cart' item.id %}">
                                        {% csrf_token %}
                                        <!-- Amend donation amount -->
                                        <div class="input-group" style="width: 100%">
                                            <input name="donation_amount" type="number" min="1" max="999" class="form-control"
                                                   placeholder="€">
                                            <span class="input-group-btn" style="float: right">
                                                    <button type="submit" class="btn btn-primary"><i class="fas fa-edit" style="max-width: 14px"></i></button>
                                            </span>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- End feature cards in cart -->
                {% else %}
                <!-- Empty cart -->
                <div class="mb-4" style="margin-left: auto;margin-right: auto">
                    <div class="card shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mt-2 mr-2">
                                    <div class="align-items-center">
                                        <img class="attachment" alt="empty cart" src="/media/images/emptycart.png">
                                    </div>
                                    <div class="text-xs text-center font-weight-bold text-primary mb-1">
                                        Looks like you haven't got anything in your cart just yet. <br>
                                        Please feel free to donate to any feature(s) you'd most like to see implemented
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if cart_items %}
                <div class="col-sm-12">
                    <a href="{% url 'checkout' %}" class="btn btn-success" role="button" style="margin-left: 20px"> Donate</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}