{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Unicorn Attractor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/8b6167d561.js" crossorigin="anonymous"></script>
    {% block head_js %}
    {% endblock head_js %}
</head>
<body>
    <!-- Fixed masthead -->
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Unicorn Attractor</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'bugs' %}">Bugs</a></li>
                    <li><a href="{% url 'features' %}">Features</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">Profile</a></li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {%  else %}
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                    <li>
                        <a href="{% url 'view_cart' %}">
                            <i class="fas fa-shopping-cart"></i>Cart
                            {% if feature_count > 0 %}
                            <label class="badge badge-warning">{{ feature_count }}</label>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <footer>
        <div class="container">
            <p>Footer content</p>
        </div>
    </footer>
    {% csrf_token %}
<script>
    // https://docs.djangoproject.com/en/2.2/ref/csrf/#setting-the-token-on-the-ajax-request
    const csrfToken = jQuery("[name=csrfmiddlewaretoken]").val();

    const $content = $('#profile-content');
    $content.on('show.bs.collapse', '.collapse', function () {
        $content.find('.collapse.in').collapse('hide');
    });

function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);console.log(ev.target);
}

function drop(ev) {
    ev.preventDefault();
    const data = ev.dataTransfer.getData("text");
    const container = ev.target.closest(".status-container");
    container.appendChild(document.getElementById(data));
    const id = data.split('-', 2);

    $.ajax({
        url: `${id[0]}s/update_status/`,
        type: 'post',
        data: JSON.stringify({
            id: id[1],
            status: container.getAttribute('data-status')
        }),
        headers: {
            "X-CSRFToken": csrfToken
        },
        dataType: 'json',
        success: (data, status) => {
            window.location.reload();
        }
    });
}
</script>
</body>
</html>
