{% extends "base.html" %}
{% load bootstrap_tags %}
{% load i18n avatar_tags %}

{% block content %}
        <form method="POST" action="{% url 'avatar_change' %}">
            <fieldset class="form-group">
                <legend>Choose a new Avatar</legend>
                <hr>
                {% csrf_token %}
                {% if avatars %}
                    <p>{% trans "Your current avatar: " %}</p>
                    {% avatar user class="img-profile rounded-circle" %}
                {% else %}
                    <div class="alert alert-danger" role="alert">{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</div>
                {% endif %}

                <ul class="avatar-list">
                    {{ primary_avatar_form.as_ul }}
                </ul>
                <input type="submit" class="btn btn-primary avatar-list" value="{% trans 'Choose new Default' %}"/>
            </fieldset>
        </form>

    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
        {% csrf_token %}
        {{ upload_avatar_form.as_p }}
        <input type="submit" class="btn btn-primary" value="{% trans 'Upload New Image' %}"/>

    </form>
<hr>
<a href="/" class="btn btn-secondary" role="button" aria-disabled="true">Back to dashboard</a>
<br>
<hr>

{% endblock %}


{% block avatar_change_script %}
<script>
    if ($("#id_choice li").length == 0){ $(".avatar-list").css("display", "none");}
    $("label[for='id_avatar']").css("text-transform", "capitalize");
</script>
{% endblock %}