{% load i18n %}
{% load comments %}

<form method="POST" action="{% comment_form_target %}">
    {% csrf_token %}
    <fieldset>
        <input type="hidden" name="next" value="{% url 'comments-xtd-sent' %}"/>

        <div class="alert alert-danger" data-comment-element="errors" hidden>
        </div>

        {% for field in form %}
        {% if field.is_hidden %}<div>{{ field }}</div>{% endif %}
        {% endfor %}

        <div style="display:none">{{ form.honeypot }}</div>

        <div class="row form-group {% if 'comment' in form.errors %}has-danger{% endif %}">
            <div class="offset-md-1 col-md-10">
                {{ form.comment }}
            </div>
        </div>
        {% if 'features' in request.path %}
        <input type="hidden" name="next" value="{% url 'feature_detail' feature.id %}" />
        {% elif 'bugs' in request.path %}
        <input type="hidden" name="next" value="{% url 'bug_detail' bug.id %}" />
        {% endif %}
    </fieldset>

    <div class="row form-group">
        <div class="offset-md-1 col-md-5">
            <input type="submit" name="post" value="{% trans 'Send' %}" class="btn btn-secondary" />
        </div>
    </div>
</form>